/*div.title:hover {
	background-color: yellow !important;
}*/

.title_hov {
	background-color: red !important;
}

#tail {
    position: absolute;
    float: left;
    display: none;
    border: thin solid #aaaaaa;
    background-color: #fefefe;
    width: 400px;
    padding: 10px;
    opacity: 0.95;
 }