/*div.title:hover {
	background-color: yellow !important;
}*/

.title_hov {
	background-color: red !important;
}

#tail {
    position: absolute;
    float: left;
    border: thin solid #aaaaaa;
    background-color: #fefefe;
    width: 420px;
    padding: 10px;
    opacity: 0.95;
    border-radius: 25px;
 }
 #rightleft {
 	clear: both;
 }