.tail{
    position: absolute;
    float: left;
    border: thin solid #aaaaaa;
    background-color: #fefefe;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0.95;
    border-radius: 25px;
    font-family: Helvetica, Arial;
    font-weight: lighter;
    color: #111111;


 }

.transition{
          transition: top .5s, left .5s;
-webkit-transition:top .5s, left .5s;
}

span{
    font-size: 80%;
}